.header {
    margin: 0;
    text-align: center;
    background-color: #1abc9c;
    background-size: cover;
    font-family: "Sofia", sans-serif; font-size: 100%;
    
}

body{
    background-color:#fffaf0;
    margin: 0px 50px 10x 50px;  
  }

.some-page-wrapper {
    margin: 0px;
    background-color: white;
  }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border-top: 6px double black;
    border-bottom: 6px double black;
  }

.left-column {
    background-color: #ebf7f1; 
    /*width: 100%;
    height: 100%;*/
    flex-grow: 1;
  }
  
.right-column {
    background-color: #ebf7f1;
    /*width: 90%;
    height: 95%;*/
    flex-grow: 1;
    padding: 2% 5% 2% 5%; /*top right bottom left*/
  }

.blue {color: blue;}
.green {color: #267600;}
.red {color: #F80000;}
.grey {color: #3D3C3C;}
.newline {color: #001AFF;opacity: 0.53;}

.head{
    background-color: red;
    border-radius: 5px;
    -webkit-box-shadow: -1px 9px 27px -8px red;
    -moz-box-shadow: -1px 9px 27px -8px red;
    box-shadow: -1px 9px 27px -8px red;
}

.effect-1 { 
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1 ~ .Focus-border { 
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: red;
    transition: 0.4s;
}

.effect-1:focus ~ .Focus-border { 
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn1{
    background: red;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 145px;
}.btn1:hover{
    -webkit-box-shadow: -1px 9px 27px -8px red;
    -moz-box-shadow: -1px 9px 27px -8px red;
    box-shadow: -1px 9px 27px -8px red;
}